@font-face {
  font-family: kittenHeaderFont;
  src: url(CamingoCode-Bold.ttf);
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.header {
  font-family: kittenHeaderFont;
  color: #ffffff;
}